@import "normalize";
/**
 * header start
 */
header  {
  background: #35b1bd;
  padding-bottom: 70px;
  .header__title {
    font-size: 60px;
    font-family: "OpenSans", sans-serif;
    color: rgb(243, 255, 226);
    text-align: center;
    margin: 0;
  }
}
/**
 * header end
 */

/**
 * main wrapper start
 */
.main-wrapper {

  .gallery {
    background: #35b1bd;
    padding-bottom: 25px;
    .gallery__title {
      font-size: 72px;
      font-family: "OpenSans", sans-serif;
      color: rgb(243, 255, 226);
      text-align: center;
      margin-top: 0;
      margin-bottom: 80px;
      font-weight: 600;
    }
    .gallery__description {
      font-size: 24px;
      font-family: "OpenSans", sans-serif;
      color: rgb(243, 255, 226);
      text-align: center;
      margin-top: 0;
      margin-bottom: 135px;
      font-weight: 400;
    }
    .gallery__content {
      .container {

        width: 100%;
        max-width: 1600px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        .gallery__content__row {
          margin-right: -15px;
          margin-left: -15px;
          &:before {
            content: ' ';
            display: table;
          }
          &:after {
            display: table;
            clear: both;
          }
          .column {
            width: 50%;
            float: left;
            .img-container {
              &--circle {
                width: 100%;
                max-width: 700px;
                > .circle-inner {
                  width: 100%;

                  &:after {
                    background: url(/img/nz/nz@x1.jpg) repeat scroll 0 0 / cover;
                    border-radius: 50%;
                    content: "";
                    display: block;
                    height: 0;
                    padding-bottom: 100%;
                    width: 100%;
                    border: 1px solid white;
                    //&:after:hover {
                    //  border: 4px solid red;
                    //}
                  }

                }

              }
              &--rectangle {
                width: 100%;
                max-width: 700px;
                height: 500px;
                background-image: url(/img/nz2/nz@x1.jpg);
                background-repeat: no-repeat;
                background-size: contain;
                border: 1px solid white;
              }
              &--rectangle:hover {
                border: 5px solid red;
              }
              &--square {
                width: 100%;
                max-width: 700px;
                > .square-inner {
                  width: 100%;
                  &:after {
                    background: url(/img/nz/nz@x1.jpg) repeat scroll 0 0 / cover;

                    content: "";
                    display: block;
                    height: 0;
                    padding-bottom: 100%;
                    width: 100%;
                    border: 1px solid white;
                  }
                }
              }

              &--triangle {
                width: 100%;
                max-width: 700px;
                  .triangle-inner {
                    .kwadrat {
                      width: 100%;
                      max-width: 700px;
                      height: 600px;
                      border-bottom: 1px solid white;
                      overflow: hidden;
                    }
                    .trojkat {
                      position: relative;
                      overflow: hidden;
                      transform: rotate(45deg) skew(10deg, 10deg);
                      border-left: 1px solid white;
                      border-top: 1px solid white;

                      width: 100%;
                      max-width: 600px;
                      height: 600px;
                      margin: 300px 0 0 48px;
                    }

                    .trojkat_bg {
                      position: absolute;
                      width: 200%;
                      height: 200%;
                      top: -67%;
                      left: -50%;
                      z-index: -1;
                      background: url(/img/nz4/nz@x1.jpg);
                      background-size: 100%;
                      background-position: center top;
                      transform: skew(-10deg, -10deg) rotate(-45deg);
                      transition: .3s;
                    }

                    .trojkat_bg:hover {
                      background-size: 90%;
                    }
                  }

              }
            }

          }
        }
      }
    }
  }
}
/**
 * main wrapper end
 */

/**
 * footer start
 */
footer {

}
/**
 * footer end
 */
